{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bienvenue</h1>

<a href="https://discord.com/oauth2/authorize?client_id=1263850845980852324&response_type=code&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Fauth%2Fdiscord%2Flogin&scope=identify">Se connecter via discord</a>
{% endblock %}
